*{
    background-color: rgb(164, 181, 182);
    margin-top: 5%;
}
body{
    
    font-size: 62.5%;
}
.info-covid{
    padding-top: 2%;
    
}
.title-info-covid{
    color: white;
    text-align: center;
    width: auto;
    font-size: 4.9rem;
    
}
.info-covid .title-info-covid{
    padding-top: 2%;
    background-color:rgb(173, 72, 140);
    height: 15rem;
    font-weight: bold;   
}




.info-QueEsCovid{
    padding: 2%;
    margin: 2%;
    width: 28%;
    background-color:mediumseagreen;
    display: inline-block;
}
.title-queEsCovid{
    color:azure;
    font-weight: bold;
    text-align: center;
    
}

.info-QueEsCovid .title-queEsCovid{
    
    background-color:transparent;
    width: 100%;
    
}
.info-QueEsCovid .img-queEsCovid{
    display: flex;
    width: 100%;
}
.info-QueEsCovid .par-queEsCovid{

    background-color:transparent;
    padding: 1%;
    margin: 1%;
    color:aliceblue;
    font-size: 1.9rem;
    text-align: justify;
}




.info-ComoSePropaga{
    padding: 2%;
    margin: 2%;
    width: 28%;
    background-color:mediumseagreen;
    display: inline-block;
}

.title-ComoSePropaga{
    color:azure;
    font-weight: bold;
    text-align: center;
}

.info-ComoSePropaga .title-ComoSePropaga{
    background-color:transparent;
    width: 100%;
}
.info-ComoSePropaga .img-ComoSePropaga{
    display: flex;
    width: 100%;
}

.info-ComoSePropaga .par-ComoSePropaga{
    background-color:transparent;
    padding: 1%;
    margin: 1%;
    color:aliceblue;
    font-size: 1.9rem;
    text-align: justify;
}


.info-QueOcurreSiCovid{
    padding: 2%;
    margin: 2%;
    width: 28%;
    background-color:mediumseagreen;
    display: inline-block;
}
.title-QueOcurre{
    color:azure;
    font-weight: bold;
    text-align: center;
}
.info-QueOcurreSiCovid .title-QueOcurre{
    background-color:transparent;
    width: 100%;
}
.info-QueOcurreSiCovid .img-QueOcurre{
    display: flex;
    width: 100%;
}
.info-QueOcurreSiCovid .par-QueOcurre{
    background-color:transparent;
    padding: 1%;
    margin: 1%;
    color:aliceblue;
    font-size: 1.9rem;
    text-align: justify;
}

